<div *ngIf="showButton">
  <div class="topdiv {{ar.Color}}" *ngFor="let ar of allPosts">
    <div class="flex justify-end">
      <button mat-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editPost(ar.PostId)" *ngIf="ar.Owner">
          <mat-icon>edit</mat-icon>
          <span >Edit</span></button>
        <button mat-menu-item *ngIf="ar.Owner">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item *ngIf="!ar.Owner">
          <mat-icon>report</mat-icon>
          <span>Report</span></button>
      </mat-menu>
      </button>

    </div>
  <div (click)="getPostInfo(ar.PostId)">
    <h4 class="username {{ar.Color}}">{{ar.VirtualName}} </h4>
    <p class="content">{{ar.TextContent}}</p>
    <div class='flex justify-end inline-block'>
      <a class='ml-5 mr-5 hover:bg-indigo-500 rounded-2xl '>
        <svg viewBox='0 0 20 20'
             xmlns='http://www.w3.org/2000/svg'
             class='fill-current text-black h-12 w-12 inline-block'>
          <path
            d='M10,2.262c-3.486,0-6.322,2.837-6.322,6.322c0,2.129,1.105,4.126,2.905,5.291l0.009,3.396c0.002,0.168,0.093,0.326,0.24,0.406c0.072,0.041,0.149,0.061,0.228,0.061c0.086,0,0.171-0.023,0.246-0.07l6.338-3.922c0.037-0.021,0.069-0.049,0.098-0.08c1.618-1.193,2.581-3.084,2.581-5.082C16.322,5.099,13.485,2.262,10,2.262z M13.109,12.969c-0.016,0.01-0.03,0.023-0.044,0.037l-5.542,3.426l-0.006-2.594c0.012-0.027,0.023-0.057,0.03-0.086c0.05-0.203-0.041-0.414-0.221-0.52c-1.675-0.963-2.715-2.746-2.715-4.648c0-2.971,2.417-5.387,5.388-5.387c2.971,0,5.387,2.417,5.387,5.387C15.387,10.316,14.536,11.955,13.109,12.969z'/>
        </svg>
        <p class='inline-block text-xl text-black mr-1.5'>{{ar.CommentCount}}</p>
      </a>
    </div>
    <p class="flex justify-end">{{ar.DateCreated}}</p>
  </div>
  </div>

</div>

<div>
  <a class='ml-5 mr-5 hover:bg-indigo-500 rounded-2xl fixed bottom-0 right-0 mr-10 mb-10'>
    <svg viewBox='0 0 20 20'
         xmlns='http://www.w3.org/2000/svg'
         class='flex justify-end  fill-current text-black  h-16 w-16 '
         (click)="showAll()">
      <path
        d='M13.388,9.624h-3.011v-3.01c0-0.208-0.168-0.377-0.376-0.377S9.624,6.405,9.624,6.613v3.01H6.613c-0.208,0-0.376,0.168-0.376,0.376s0.168,0.376,0.376,0.376h3.011v3.01c0,0.208,0.168,0.378,0.376,0.378s0.376-0.17,0.376-0.378v-3.01h3.011c0.207,0,0.377-0.168,0.377-0.376S13.595,9.624,13.388,9.624z M10,1.344c-4.781,0-8.656,3.875-8.656,8.656c0,4.781,3.875,8.656,8.656,8.656c4.781,0,8.656-3.875,8.656-8.656C18.656,5.219,14.781,1.344,10,1.344z M10,17.903c-4.365,0-7.904-3.538-7.904-7.903S5.635,2.096,10,2.096S17.903,5.635,17.903,10S14.365,17.903,10,17.903z'/>
    </svg>
  </a>
</div>
<div *ngIf="!showButton">
  <div class="topdiv">
    <p class="flex justify-start text-xl text-purple-500">Hi, type to share your opinion with world!</p>
    <textarea class="text-black mt-4 ml-4 mr-4 rounded-2xl border-red-100 border-4 focus-within:outline-none"
              #textFieldLen="ngModel" [(ngModel)]="textField" minlength="6" required>
    </textarea>
    <div class="text-red-500 ml-4" *ngIf="textFieldLen.errors?.minlength">
      Text must be more than 6 characters
    </div>
    <button class="button" (click)="post()" [disabled]="textField === ''">Post</button>
  </div>
</div>
